/*css class bg pelangi*/
.pelangi{
  background-color: DeepSkyBlue; /* Utk browser yg gk support CSS gradien */
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color:white;
  text-align:center;
  padding:3px;
}
