button {
 background-color:blue;color:white;border:outset;
 padding:15px;text-align:center;
border-radius:12px;
}

button:hover{
 background-color:DodgerBlue;
}
button:active{
background-color:DodgerBlue;
box-shadow: 0 6px silver;
transform: translateY(5px);
}
