.AliceBlue {background-color:aliceblue;}
.AntiqueWhite {background-color:antiquewhite;}
.Aqua{background-color:aqua;}
.AquaMarine{background-color:aquamarine;}
.Azure{background-color:azure;}
.Beige{background-color:beige;}
.Bisque{background-color:bisque;}
.Black{background-color:black;}
.BlanchedAlmond{background-color:blanchedalmond;}
.Blue{background-color:blue;}
.BlueViolet{background-color:blueviolet;}
.Brown{background-color:brown;}
.BurlyWood{background-color:burlywood;}
.CadetBlue{background-color:cadetblue;}
.Chartreuse{background-color:chartreuse;}
.Chocolate{background-color:chocolate;}.Coral{background-color:coral;}
