.AliceBlue {background-color:aliceblue;}.AntiqueWhite{background-color:antiquewhite;}.Aqua{background-color:aqua;}.AquaMarine{background-color:aquamarine;}.Azure{background-color:azure;}
.Beige{background-color:beige;}.Bisque{background-color:bisque;}.Black{background-color:black;}.BlanchedAlmond{background-color:blanchedalmond;}.Blue{background-color:blue;}.BlueViolet{background-color:blueviolet;}.Brown{background-color:brown;}.BurlyWood{background-color:burlywood;}
.CadetBlue{background-color:cadetblue;}.Chartreuse{background-color:chartreuse;}.Chocolate{background-color:chocolate;}.Coral{background-color:coral;}.CornflowerBlue{background-color:cornflowerblue;}.Cornsilk{background-color:cornsilk;}.Crimson{background-color:crimson;}.Cyan{background-color:cyan;}
.DarkBlue{background-color:darkblue;}.DarkCyan{background-color:darkcyan;}.DarkGoldenRod{background-color:darkgoldenrod;}.DarkGray{background-color:darkgray;}.DarkGrey{background-color:darkgrey;}.DarkGreen{background-color:darkgreen}.DarkKhaki{background-color:darkkhaki;}.DarkMagenta{background-color:darkmagenta;}.DarkOliveGreen{background-color:darkolivegreen;}.DarkOrange{background-color:darkorange;}.DarkOrchid{background-color:darkorchid;}
.DarkRed{background-color:darkred;}
.DarkSalmon{background-color:darksalmon;}
.DarkSeaGreen{background-color:darkseagreen;}
.DarkSlateBlue{background-color:darkslateblue;}
.DarkSlateGray{background-color:darkslategray;}
.DarkSlateGrey{background-color:darkslategrey;}
.DarkTurquoise{background-color:darkturquoise;}
.DarkViolet{background-color:darkviolet;}
.DeepPink{background-color:deeppink;}
.DeepSkyBlue{background-color:deepskyblue;}
.DimGray{background-color:dimgray;}
