.AliceBlue {background-color:aliceblue;}
.AntiqueWhite {background-color:antiquewhite;}
.Aqua{background-color:aqua;}
.AquaMarine{background-color:aquamarine;}
.Azure{background-color:azure;}
.Beige{background-color:beige;}
.Bisque{background-color:bisque;}
.Black{background-color:black;}
.BlanchedAlmond{background-color:blanchedalmond;}
