#header{
background-color:#20b2aa;
padding:10px;
}
input {
  font:16px courier new;
  color:crimson;
  box-shadow:2px 2px 4px black inset;
  padding:10px;
}
#process{
  margin:10px;
  padding:15px;
  background-color:silver;
  border:5px outset;
  border-radius: 2px;
  box-shadow:10px 10px 20px black;
  width:300px;
  height:200px;
}
