body{
margin:0;
font-family:'courier new';
}

.DarkMode{
background-color:black;
color:white;
}

.header{
padding:50px;
background-color:lightgray;
text-align:center;
font-size:30px;
}
.container{
padding:25px;
}
.footer{
padding:10px;
background-color:lightgray;
text-align:center;
font-size:small;
font-style:italic;
}

/*pagination*/
.pagination{
display:inline-block;
}.pagination a {
  color: black;
  float: left;
  padding: 8px;
  text-decoration: none;
  border:1px solid lightgray;
}.pagination a.active {
  background-color:lightgray;
  border:1px solid lightgray;
}



