html, body{
height:100%;
margin:0;
}
@font-face{
font-family:"vt323";
src: url("https://fedrikaristiyanto.github.io/fonts/vt323/VT323-Regular.ttf");
}

*{
font-family:"vt323";
}

.header{
padding:50px;
background-color:#f0f0f0;
text-align:center;
font-size:30px;
}

.container{
padding:25px;
height:100%;
}

.footer{
padding:10px;
background-color:#f0f0f0;
text-align:center;
font-size:small;font-style:italic;
}

/*input & button*/
input[type=text], input[type=number]{
  width:75%;
  padding:4px;
border-radius:4px;
box-sizing:border-box;
}

button, input[type=button], input[type=submit]{
border:1px solid dodgerblue;border-radius:10px;
background-color:white;color:dodgerblue;
padding:5px 10px;
text-align:center;
cursor:pointer;
}
input[type=reset]{
border:1px solid crimson;border-radius:10px;
background-color:white;color:crimson;
padding:5px 10px;
text-align:center;
cursor:pointer;
}


/*nav*/
.nav a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;font-weight:bold;
  border-radius: 4px;
}.nav a:hover{
  background-color: #f0f0f0;
  color: black;
}.nav a.active{
  background-color: dodgerblue;
  color: white;
}
/*dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
 position: absolute;
}
.dropdown-content a{
text-align:center;
background-color:#f0f0f0;
width:150px;
}

.dropdown-content a:hover{
background-color:#f9f9f9;
width:150px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*pagination*/
.pagination{
display:inline-block;
}.pagination a {
  color: black;
  float: left;
  padding: 5px;
  text-decoration: none;
  border:1px solid dodgerblue;
}.pagination a.active {
  background-color:dodgerblue;
  color:white;
  border:1px solid dodgerblue;
}.pagination a:hover:not(.active){
  background-color: cyan;
}.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



/*table*/
.table{
border:1px solid #C0C0C0;
border-collapse:collapse;
padding:5px;
}.table caption {
caption-side:top;
text-align:center;
}.table th {
border:1px solid #C0C0C0;
padding:5px;
background:#F0F0F0;
}.table td {
border:1px solid #C0C0C0;
padding:5px;
}

a:link{
text-decoration:none;
}

