<!DOCTYPE html>
<html>
<head>
<title>VAT calculator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href="/css/hf.css"  rel="stylesheet" type="text/css" />
</head>
<body>

<div data-ng-app="" data-ng-init="price=50000;taxrate=5;">

<h2 id="header">TAX (VAT or GST) Calculator</h2>

Price: <input type="number" ng-model="price" placeholder="input price"><br>
Tax rate: <input style="width:50px;" type="number" ng-model="taxrate" placeholder="input tax rate">%
<p>Tax (Price * Tax rate): <b> {{price * taxrate / 100 | number}} </b></p>
<p>Price + Tax: <b> {{ price + (price*taxrate/100) | number}} </b></p>

</div>
See also: <a href="/pages2l/discount.html">kalkulator diskon</a><br>
Related page: <a href="/pages/math.html">Mathematics</a>
</body>
</html>
