<!DOCTYPE html>
<html>
<head>
<title>VAT calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<div data-ng-app="" data-ng-init="price=50000;taxrate=5;">

<h2>TAX (VAT or GST) Calculator</h2>

Price: <input type="number" ng-model="price" placeholder="input price"><br>
Tax-rate: <input style="width:50px;" type="number" ng-model="taxrate" placeholder="input tax rate">%
<p>Tax (Price * Tax rate): {{price * taxrate / 100 | number}}</p>
<p>Price + Tax: {{ price + (price*taxrate/100) | number}}</p>

</div>
See also: <a href="/pages2l/discount.html">kalkulator diskon</a><br>
Related page: <a href="/pages/math.html">Mathematics</a>
</body>
</html>
